# Ignore all .vscode directories
**/.vscode/

# Ignore all .DS_Store files
**/.DS_Store

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all .pytest_cache directories
**/.pytest_cache/
.Rproj.user
